<!DOCTYPE html>
<html>
  <head>
    <title>Bikeorderform</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container" >
      <%= render 'common/navbar' %>
      <%= notice_message %>
      <div class='breadcrumb'>
        <%= render_breadcrumbs tag: :li, separator: "" %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
